html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
}

.content {
  flex: 2;
  padding: 15px;
}

.content .date{
    font-size: 3px;
    font-style: italic;
    font-weight: bold;
    color:#c0c0c0
}

.sidebar {
  flex: 1;
  padding: 15px;
  background-color: #f1f1f1;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step-links {
  display: flex;
  align-items: center;
}

.step-links a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
}

.current {
  margin: 0 10px;
}

/* POST SHARE */
form {
  margin-top: 20px;
}

input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #286090;
}

.comment-count {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.info {
  font-style: italic;
  margin-bottom: 5px;
}