html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  display: flex;
}

.content {
  flex: 2;
  padding: 15px;
}

.content .date{
    font-size: 3px;
    font-style: italic;
    font-weight: bold;
    color:#c0c0c0
}

.sidebar {
  flex: 1;
  padding: 15px;
  background-color: #f1f1f1;
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step-links {
  display: flex;
  align-items: center;
}

.step-links a {
  margin: 0 5px;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
}

.current {
  margin: 0 10px;
}
